$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

html, body, #app-main {
    height: 100%;
    font-family: Courier New, Courier, monospace;
}

.content {
  margin-top: 50px;
}
