<table class="table">
  <caption class="text-center"><strong>Short Range Sensor Scan</strong></caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" class="text-center" v-for="(col, colIndex) in sectors[0]">{{colIndex + 1}}</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="(row, rowIndex) in sectors">
      <th scope="row">{{rowIndex + 1}}</th>
      <td class="text-center short-range-sensor-scan" v-for="sector in row"
          v-bind:class="{ 'data-active': sector.allowsSelection }"
          v-on:click="sectorClicked(sector)">
        <div v-if="!active">?</div>
        <div v-else-if="sector.containsKlingon" class="text-danger"><strong>K</strong></div>
        <div v-else-if="sector.containsDestroyedShip" class="text-info"><strong>&dagger;</strong></div>
        <div v-else-if="sector.containsShip" class="text-info"><strong>E</strong></div>
        <div v-else-if="sector.containsStarbase">S</div>
        <div v-else-if="sector.containsStar">@</div>
        <div v-else>.</div>
      </td>
    </tr>
  </tbody>
</table>
