<div id="commandinput" class="text-center">
  <form id="command-input-form" role="form" @submit.prevent="execute">
    <div class="controls">
      <div class="row">
        <div class="form-group">
          <div class="col-md-9">
            <input ref="textInput" id="input" name="input" type="text"
                   placeholder="Enter Command" class="form-control"
                   :value="value" :disabled="disabled" />
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-primary"
                    :disabled="disabled"
                    v-on:click="execute">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
