<div class="container custom-container content" style="margin-top: 10px;">
  <div class="row">
    <div class="content col-md-12">
      <div class="row">
        <div class="col-md-4">
          <short-range-sensor-scan-component
             :sectors="gameState.shortRangeSensorScan"
             :active="gameState.shortRangeScanDamage === 0"
             v-on:command="executeCommand">
          </short-range-sensor-scan-component>
        </div>
        <div class="col-md-4">
          <div class="row">
            <system-status-component
              :navigationDamage="gameState.navigationDamage"
              :shortRangeScanDamage="gameState.shortRangeScanDamage"
              :longRangeScanDamage="gameState.longRangeScanDamage"
              :shieldControlDamage="gameState.shieldControlDamage"
              :computerDamage="gameState.computerDamage"
              :photonDamage="gameState.photonDamage"
              :phaserDamage="gameState.phaserDamage">
            </system-status-component>
          </div>
          <div class="row">
            <game-stats-component
              :timeRemaining="gameState.timeRemaining"
              :stardate="gameState.stardate"
              :condition="gameState.condition"
              :quadrant="gameState.quadrant"
              :sector="gameState.sector"
              :photonTorpedoes="gameState.photonTorpedoes"
              :energy="gameState.energy"
              :shields="gameState.shields"
              :klingons="gameState.klingonsInQuadrant"
              :active="gameState.shortRangeScanDamage === 0">
            </game-stats-component>
          </div>
        </div>
        <div class="col-md-4">
          <long-range-sensor-scan-component
            :quadrants="gameState.longRangeSensorScan"
            :active="gameState.longRangeScanDamage === 0"
            v-on:command="executeCommand">
          </long-range-sensor-scan-component>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="row">
        <div class="panel panel-default panel-objectives">
          <div class="panel-heading">
            <h4 class="text-center panel-title"><strong>Objectives</strong></h4>
          </div>
          <div class="panel-body objectives-content">
            <div class="row">
              <h5 class="text-center"><strong>Original Mission:</strong></h5>
              <div>
                Destroy <strong>{{ gameState.initialKlingons }}</strong> Klingons in <strong>{{ gameState.initialTimeRemaining }}</strong> Star Dates with <strong>{{ gameState.initialStarbases }}</strong> Star Bases
              </div>
            </div>
            <div class="row">
              <h5 class="text-center"><strong>Remaining:</strong></h5>
              <div>
                Destroy <strong>{{ gameState.klingons }}</strong> Klingons in <strong>{{ gameState.timeRemaining }}</strong> Star Dates with <strong>{{ gameState.starbases }}</strong> Star Bases
              </div>
            </div>
            <div class="row">
              <command-input-component
                 :disabled="!gameState.isInProgress"
                 v-model="command"
                 v-on:command="executeCommand" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title text-center"><strong>Messages</strong></h4>
          </div>
          <div class="messages panel-body">
            <div v-for="message in messages" class="row">
              {{ message }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
