<table class="table">
  <caption class="text-center">Long Range Sensor Scan</caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" class="text-center" v-for="(col, colIndex) in quadrants[0]">{{colIndex + 1}}</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="(row, rowIndex) in quadrants">
      <th scope="row">{{rowIndex + 1}}</th>
      <td class="text-center"
          v-for="quadrant in row"
          v-bind:class="{ 'bg-primary': quadrant.ship, 'text-danger': quadrant.klingons > 0 }">
        <strong v-if="quadrant.klingons > 0">
          {{quadrant.klingons}}{{quadrant.starbases}}{{quadrant.stars}}
        </strong>
        <span v-else>
          {{quadrant.klingons}}{{quadrant.starbases}}{{quadrant.stars}}
        </span>
      </td>
    </tr>
  </tbody>
</table>
