<table class="table">
  <caption class="text-center"><strong>Long Range Sensor Scan</strong></caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" class="text-center" v-for="(col, colIndex) in quadrants[0]">{{colIndex + 1}}</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="(row, rowIndex) in quadrants">
      <th scope="row">{{rowIndex + 1}}</th>
      <td class="text-center long-range-sensor-scan"
          v-for="quadrant in row"
          v-bind:class="{ 'data-active': active, 'bg-primary': active && quadrant.ship, 'text-danger': active && quadrant.scanned && quadrant.klingons > 0, 'scanned': quadrant.scanned }"
          v-on:click="quadrantClicked(quadrant)">
        <strong v-if="active && quadrant.scanned && quadrant.klingons > 0">
          {{quadrant.klingons}}{{quadrant.starbases}}{{quadrant.stars}}
        </strong>
        <span v-else-if="active && quadrant.scanned">
          {{quadrant.klingons}}{{quadrant.starbases}}{{quadrant.stars}}
        </span>
        <span v-else>
          ???
        </span>
      </td>
    </tr>
  </tbody>
</table>
