<section id="systemstatus">
  <h4 class="text-center">System Status</h4>
  <dl>
    <system-status-item-component
       name="Navigation"
       :damage="navigationDamage">
    </system-status-item-component>
    <system-status-item-component
       name="Short Range Scan"
       :damage="shortRangeScanDamage">
    </system-status-item-component>
    <system-status-item-component
       name="Long Range Scan"
       :damage="longRangeScanDamage">
    </system-status-item-component>
    <system-status-item-component
       name="Shield Control"
       :damage="shieldControlDamage">
    </system-status-item-component>
    <system-status-item-component
       name="Computer"
       :damage="computerDamage">
    </system-status-item-component>
    <system-status-item-component
       name="Photon Torpedoes"
       :damage="photonDamage">
    </system-status-item-component>
    <system-status-item-component
       name="Phasers"
       :damage="phaserDamage">
    </system-status-item-component>
  </dl>
</section>
