<section id="systemstatus">
  <h4 class="text-center"><strong>System Status</strong></h4>
  <dl>
    <system-status-item-component
       name="Navigation"
       :damage="navigationDamage"
       :active="computerDamage === 0">
    </system-status-item-component>
    <system-status-item-component
       name="Short Range Scan"
       :damage="shortRangeScanDamage"
       :active="computerDamage === 0">
    </system-status-item-component>
    <system-status-item-component
       name="Long Range Scan"
       :damage="longRangeScanDamage"
       :active="computerDamage === 0">
    </system-status-item-component>
    <system-status-item-component
       name="Shield Control"
       :damage="shieldControlDamage"
       :active="computerDamage === 0">
    </system-status-item-component>
    <system-status-item-component
       name="Computer"
       :damage="computerDamage"
       :active="computerDamage === 0">
    </system-status-item-component>
    <system-status-item-component
       name="Photon Torpedoes"
       :damage="photonDamage"
       :active="computerDamage === 0">
    </system-status-item-component>
    <system-status-item-component
       name="Phasers"
       :damage="phaserDamage"
       :active="computerDamage === 0">
    </system-status-item-component>
  </dl>
</section>
