<section id="systemstatus">
  <h4 class="text-center">System Status</h4>
  <dl class="row">
    <dt class="col-sm-6">Navigation:</dt>
    <dd class="col-sm-6 text-right">{{navigationSystemStatus}}</dd>
    <dt class="col-sm-6">Short Range Scan:</dt>
    <dd class="col-sm-6 text-right">{{shortRangeScanSystemStatus}}</dd>
    <dt class="col-sm-6">Long Range Scan:</dt>
    <dd class="col-sm-6 text-right">{{longRangeScanSystemStatus}}</dd>
    <dt class="col-sm-6">Shield Control:</dt>
    <dd class="col-sm-6 text-right">{{shieldControlSystemStatus}}</dd>
    <dt class="col-sm-6">Computer:</dt>
    <dd class="col-sm-6 text-right">{{computerSystemStatus}}</dd>
    <dt class="col-sm-6">Photon Torpedoes:</dt>
    <dd class="col-sm-6 text-right">{{photonSystemStatus}}</dd>
    <dt class="col-sm-6">Phasers:</dt>
    <dd class="col-sm-6 text-right">{{phaserSystemStatus}}</dd>
  </dl>
</section>
