<div class="container content">
  <div class="row">
    <div class="content col-md-12">
      <div class="row">
        <div class="col-md-4">
          <short-range-sensor-scan-component
             :sectors="shortRangeSensorScan">
          </short-range-sensor-scan-component>
        </div>
        <div class="col-md-4">
          <div class="row">
            <system-status-component
              :navigationDamage="navigationDamage"
              :shortRangeScanDamage="shortRangeScanDamage"
              :longRangeScanDamage="longRangeScanDamage"
              :shieldControlDamage="shieldControlDamage"
              :computerDamage="computerDamage"
              :photonDamage="photonDamage"
              :phaserDamage="phaserDamage">
            </system-status-component>
          </div>
          <div class="row">
            <game-stats-component
              :timeRemaining="timeRemaining"
              :stardate="stardate"
              :condition="condition"
              :quadrant="quadrant"
              :sector="sector"
              :photonTorpedoes="photonTorpedoes"
              :energy="energy"
              :shields="shields"
              :klingons="klingons">
            </game-stats-component>
          </div>
        </div>
        <div class="col-md-4">
          <long-range-sensor-scan-component
            :quadrants="longRangeSensorScan">
          </long-range-sensor-scan-component>
        </div>
      </div>
    </div>
  </div>
</div>
