<div class="container content">
  <div class="row">
    <div class="content col-md-12">
      <div class="row">
        <div class="col-md-4">
          <short-range-sensor-scan-component
             :sectors="shortRangeSensorScan">
          </short-range-sensor-scan-component>
        </div>
        <div class="col-md-4">
          <system-status-component
            :navigationSystemStatus="navigationSystemStatus"
            :shortRangeScanSystemStatus="shortRangeScanSystemStatus"
            :longRangeScanSystemStatus="longRangeScanSystemStatus"
            :shieldControlSystemStatus="shieldControlSystemStatus"
            :computerSystemStatus="computerSystemStatus"
            :photonSystemStatus="photonSystemStatus"
            :phaserSystemStatus="phaserSystemStatus">
          </system-status-component>
        </div>
        <div class="col-md-4">
          <long-range-sensor-scan-component
            :quadrants="longRangeSensorScan">
          </long-range-sensor-scan-component>
        </div>
      </div>
    </div>
  </div>
</div>
